.res-card{
    border: 1px solid black;
    width: 150px;
    /* height: 360px; */
    padding: 5px;
    margin: 5px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.res-card:hover{
    cursor: pointer;
    border: 2px solid rgb(189, 189, 18);
}

.res-logo{
    width: 100%;
}